# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Shopify
config/settings_data.json

# Firebase (legacy)
.firebase/

# Logs
*.log

# Dependencies
node_modules/

# Next.js (legacy)
.next/
