<section class="page-content">
  <div class="page-content__inner">
    <h1 class="page-content__title">{{ page.title }}</h1>
    <div class="page-content__body rte">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "class": "section-main-page",
  "settings": []
}
{% endschema %}
